.otto
.ottoid
/node_modules
/release/components/bootstrap
/release/components/imd
/release/components/jquery
/release/components/polymer
/release/components/webcomponentsjs
**/*.orig
**/*_BACKUP_*
**/*_BASE_*
**/*_LOCAL_*
**/*_REMOTE_*
npm-debug.log
