link(rel="import" href="../../components/polymer/polymer.html")

//- TODO link a common style component if you have one or remove this line

dom-module#cthulhu-profile-service
	link(rel="import" type="css" href="../../components/cthulhu-profile-service/cthulhu-profile-service.css")
	template
		//- If you had a common style file, uncomment the below line and add the path to the style component --
		//- Remove these comments otherwise
		//- style(include="common-style")

		//- TODO add component specifics here
		//- exmaple:
		//- div
		//-		span Hello component cthulhuProfileService

	script(src="../../components/cthulhu-profile-service/cthulhu-profile-service.js")
