
<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../../components/cthulhu-style/cthulhu-style.html"/>
<link rel="import" href="../../components/cthulhu-login/cthulhu-login.html"/>
<dom-module id="cthulhu-application">
  <link rel="import" type="css" href="../../components/cthulhu-application/cthulhu-application.css"/>
  <template>
    <style include="cthulhu-style"></style>
    <cthulhu-login></cthulhu-login>
  </template>
  <script src="cthulhu-application.js"></script>
</dom-module>