
<link rel="import" href="../polymer/polymer.html"/>
<link rel="import" href="../cthulhu-style/cthulhu-style.html"/>
<link rel="import" href="../pushstate-anchor/pushstate-anchor.html"/>
<link rel="import" href="../app-router/app-router.html"/>
<link rel="import" href="../cthulhu-auth-service/cthulhu-auth-service.html"/>
<link rel="import" href="../cthulhu-login/cthulhu-login.html"/>
<dom-module id="cthulhu-application">
  <link rel="import" type="css" href="../../components/cthulhu-application/cthulhu-application.css"/>
  <template>
    <style include="cthulhu-style"></style>
    <cthulhu-auth-service></cthulhu-auth-service>
    <app-router mode="pushstate" trailingslash="ignore">
      <app-route path="/login" import="../../components/cthulhu-login-view/cthulhu-login-view.html"></app-route>
      <app-route path="/front" import="../../components/cthulhu-front-view/cthulhu-front-view.html"></app-route>
      <app-route path="*" redirect="/front"></app-route>
    </app-router>
  </template>
  <script src="../../components/cthulhu-application/cthulhu-application.js"></script>
</dom-module>