//- List of external dependencies
link(rel="import" href="../../components/polymer/polymer.html")
//- Application specific components / dependencies
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")
link(rel="import" href="../../components/cthulhu-login/cthulhu-login.html")

//-	Login component for Cthulhu application. Contains a centered view and a text saying what
	application we are using and a simple login form. Mainly a button for Google at this point?

dom-module#cthulhu-login
	template
		style(include="cthulhu-style")

		div
			div
				span Cthulhu Generator Application
			div
				button#login Login

	script(src="cthulhu-login.js")
