link(rel="import" href="../../components/polymer/polymer.html")

dom-module#cthulhu-login
	template
		div
			span Silly placeholder buttons with no theming
		button#login-facebook Facebook login
		button#login-google Google login

	script(src="cthulhu-login.js")
