link(rel="import" href="../../components/polymer/polymer.html")
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")
link(rel="import" href="../../components/cthulhu-auth-service/cthulhu-auth-service.html")
link(rel="import" href="../../components/cthulhu-header/cthulhu-header.html")
link(rel="import" href="../../components/cthulhu-character-list/cthulhu-character-list.html")

//- Main / front page view for Cthulhu. *-views are the components the app-router will be 
//- swapping between as the user navigates to different paths in the application. Magix.
//- Essentially we'll be displaying some sort of "this is how you log in" and other formal yada yada 
//- for the user to navigate in. After that we'll route the user to a different /route and swap in another
//- *-view.
//- 
//-	Usage:
//-
//-		app-route(path="/foobar" import="../../components/cthulhu-front-view/cthulhu-front-view.html")

dom-module#cthulhu-front-view
	template
		style(include="cthulhu-style")

		iron-ajax#ProfileGet(
			auto
			url="/profile" 
			handle-as="json" 
			on-error="onProfileError"
			last-response="{{ profile }}"
		)

		cthulhu-header

		div
			cthulhu-character-list(characters="[[ profile.characters ]]")


	script(src="../../components/cthulhu-front-view/cthulhu-front-view.js")
