//- List of external dependencies
link(rel="import" href="../../components/polymer/polymer.html")
//- Application specific components / dependencies
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")
link(rel="import" href="../../components/cthulhu-login/cthulhu-login.html")

//- TODO create some sort of header bar, or?
//- What kind of navigation are we after anyway? Single page app?

dom-module#cthulhu-application
	template
		style(include="cthulhu-style")

		//- All of our content and creations should aim to be "inside" .container-fluid
		//- --> http://getbootstrap.com/css/ -> "Containers"
		div.container-fluid
			//- TODO header?
			cthulhu-login
			//- TODO footer?

	script(src="cthulhu-application.js")
