//- List of external dependencies
link(rel="import" href="../../components/polymer/polymer.html")
//- Application specific components / dependencies
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")
link(rel="import" href="../../components/cthulhu-login/cthulhu-login.html")

//- TODO create some sort of header bar, or?
//- What kind of navigation are we after anyway? Single page app?

dom-module#cthulhu-application
	link(rel="import" type="css" href="../../components/cthulhu-application/cthulhu-application.css")
	template
		style(include="cthulhu-style")

		cthulhu-login

	script(src="cthulhu-application.js")
