link(rel="import" href="../../components/polymer/polymer.html")
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")

link(rel="import" href="../../components/app-router/app-router.html")
link(rel="import" href="../../components/cthulhu-login/cthulhu-login.html")

//- TODO create some sort of header bar, or? Need a layout of sorts.

dom-module#cthulhu-application
	link(rel="import" type="css" href="../../components/cthulhu-application/cthulhu-application.css")
	template
		style(include="cthulhu-style")

		//- Define routes here to match the URL + view. Notice that if user clicks on the page and navigates
		//- to path X the backend does not send a new index.html but if the user hits F5 or navigates directly
		//- to path Y the backend needs to match that specific path (for example: /foobar) needs to send the
		//- index.html to front so that the frontend can then sort itself out into correct path.
		//- -> https://erikringsmuth.github.io/app-router/ documentation
		app-router
			app-route(path="/" import="../../components/cthulhu-login-view/cthulhu-login-view.html")
			//- front view is just made up, I didn't have any better ideas of where to navigate from
			//- successful login (name wise). Maybe some sort of management screen? GM stuff, party management,'
			//- character management etc. 
			app-route(path="/front" import="../../components/cthulhu-front-view/cthulhu-front-view.html")
			//- TODO front side authentication info; if user not logged in, redirect back to "/" for login
			// app-route(path="*" redirect="/")


	script(src="../../components/cthulhu-application/cthulhu-application.js")
