
<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../../components/cthulhu-style/cthulhu-style.html"/>
<link rel="import" href="../../components/cthulhu-login/cthulhu-login.html"/>
<link rel="import" href="../../components/cthulhu-button/cthulhu-button.html"/>
<dom-module id="cthulhu-login">
  <link rel="import" type="css" href="../../components/cthulhu-login/cthulhu-login.css"/>
  <template>
    <style include="cthulhu-style"></style>
    <div>
      <div class="card no-border div"><span>< INSERT VECTORIZED/SVG LOGO HERE ></span></div>
      <div class="card div">
        <div class="center div"><span>Call of Cthulhu</span></div>
        <div class="center div">
          <cthulhu-button id="login" is-primary="true"><span>Login</span></cthulhu-button>
          <cthulhu-button id="login2"><span>Login</span></cthulhu-button>
        </div>
      </div>
    </div>
  </template>
  <script src="cthulhu-login.js"></script>
</dom-module>