doctype html
html(lang="en")
    head
        title Cthulhu Character Generator
        link(rel="import" href="../components/polymer/polymer.html")
        link(rel="import" href="../components/imd/imd.html")

    body
        h1 Cthulhu
        span FOOBAR
