doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Cthulhu Character Generator

		script(src="../../components/webcomponentsjs/webcomponents.js")

		link(rel="import" href="../../components/polymer/polymer.html")
		link(rel="import" href="../../components/imd/imd.html")

		link(rel="import" href="../../components/cthulhu-application/cthulhu-application.html")


	//- TODO hide the style reset for body's margins into Less files
	body(style="padding:0px; margin:0px; color: #1C2B1B; box-sizing: border-box;")
		cthulhu-application
