doctype html
html(lang="en")
	head
		title Cthulhu Character Generator
		link(rel="import" href="../components/polymer/polymer.html")
		link(rel="import" href="../components/imd/imd.html")
		link(rel="import" href="../components/cthulhu-application/cthulhu-application.html")

	body
		cthulhu-application
