
<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../../components/cthulhu-style/cthulhu-style.html"/>
<link rel="import" href="../../components/cthulhu-auth-service/cthulhu-auth-service.html"/>
<dom-module id="cthulhu-front-view">
  <template>
    <style include="cthulhu-style"></style>
    <div><span>This is where all the magic will happen. TODO: magic.	</span></div>
  </template>
  <script src="../../components/cthulhu-front-view/cthulhu-front-view.js"></script>
</dom-module>