
<link rel="import" href="../../components/polymer/polymer.html"/>
<link rel="import" href="../../components/cthulhu-style/cthulhu-style.html"/>
<dom-module id="cthulhu-front-view">
  <template>
    <style include="cthulhu-style"></style>
    <div><span>This is where all the magic will happen. TODO: magic.	</span></div>
    <div><a href="#/"># Test link to test app-router functionality (/)</a></div>
    <div><a href="#/foobar"># Test link to test app-router functionality (/foobar), this should redirect to "/"</a></div>
  </template>
  <script src="../../components/cthulhu-front-view/cthulhu-front-view.js"></script>
</dom-module>