link(rel="import" href="../../components/polymer/polymer.html")

//-
	Styling component for Cthulhu character generation application.
	Packs all the common styling functionality that is shared among the components. We use Bootstrap as our
	baseline for styling and define our own styles on top of the existing components.

	All cthulhu components need to import the styling component if they have any UI functionality and then
	do the following in their template:

		template
			cthulhu-style>

dom-module#cthulhu-style
	template
		style
			//- Note that these includes are Jade compile time so we need to go to the release
				directory and fetch the installed bower bootstrap component and hook it here.
			include ../release/bootstrap/components
			include cthulhu-style.css

	script(src="cthulhu-style.js")
