link(rel="import" href="../../components/polymer/polymer.html")
link(rel="import" href="../../components/cthulhu-style/cthulhu-style.html")

//- TODO link a common style component if you have one or remove this line

dom-module#cthulhu-header
	link(rel="import" type="css" href="../../components/cthulhu-header/cthulhu-header.css")
	template
		style(include="cthulhu-style")

		div.navigation-wrapper
			div.left
				span Cthulhu
			div.left
				span Parties
			div.left
				span Characters
			div.right
				a(href="/logout") Logout


	script(src="../../components/cthulhu-header/cthulhu-header.js")
