<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cthulhu Character Generator</title>
    <script src="../../components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="../../components/polymer/polymer.html">
    <link rel="import" href="../../components/imd/imd.html">
    <link rel="import" href="../../components/cthulhu-application/cthulhu-application.html">
  </head>
  <body style="padding:0px; margin:0px; color: #1C2B1B;">
    <cthulhu-application></cthulhu-application>
  </body>
</html>