<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cthulhu Character Generator</title>
    <link rel="import" href="../components/polymer/polymer.html">
    <link rel="import" href="../components/imd/imd.html">
    <link rel="import" href="../components/cthulhu-application/cthulhu-application.html">
  </head>
  <body style="padding:0px; margin:0px; color: #1C2B1B;">
    <cthulhu-application></cthulhu-application>
  </body>
</html>